@use 'styles/colors';
@use 'styles/fonts';

.root {
  width: 100%;
  background-color: map-get(colors.$background, secondary);
  margin-bottom: 0;
  margin-top: 2em;
  padding: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    transform: translateY(-0.5em);
  }

  h1 {
    border: none;
  }
}
.name {
  font-family: beyno, fonts.$serif;
  font-size: 1.5rem;
  border-bottom: none;

  &:hover,
  &:active {
    color: colors.$primary;
  }
}

.name,
.username {
  &:hover,
  :active {
    color: map-get(colors.$text, primary);
    text-decoration: none;
  }
}

.icon {
  transition: all 0.1s ease-in-out;
  font-size: 1.1em;

  & + .icon {
    margin-left: 0.4em;
  }
}

.github {
  &:hover,
  :active {
    color: #4078c0;
  }
}

.instagram {
  &:hover,
  :active {
    color: #e4405f;
  }
}

.linkedin {
  &:hover,
  :active {
    color: #0077b5;
  }
}

.email {
  &:hover,
  :active {
    color: colors.$primary;
  }
}
