@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/functions' as *;

.root {
  #{headings(1,6)} {
    font-weight: normal;
    border-bottom: 2px solid currentColor;
    width: max-content;
    font-family: fonts.$serif;
    margin: 1em 0 0.75em;
  }

  a {
    position: relative;
    transition: all 0.15s ease-in-out;

    padding-bottom: 2px;
    border-bottom: 2px solid colors.$primary;

    &:hover {
      color: colors.$primary;
    }
  }

  ul {
    margin: 1em 0 0 2em;
  }

  p + p {
    margin-top: 0.5em;
  }
}
