@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/functions' as *;

.root {
  #{headings(1,6)} {
    font-weight: normal;
    border-bottom: 2px solid currentColor;
    width: max-content;
    font-family: fonts.$serif;
    margin: 1em 0 0.75em 0;
  }

  a {
    color: colors.$primary;
    text-decoration: none;
		transition: all 0.2s ease-in-out;

    &:visited {
      @extend a;
    }

    &:hover {
			text-decoration: none;
      border-bottom: solid 2px currentColor;
    }
  }

  ul {
		margin: 1em 0 0 2em;
  }
}
