@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/functions' as *;

.root {
  #{headings(1,6)} {
    font-weight: normal;
    border-bottom: 2px solid currentColor;
    width: max-content;
    font-family: fonts.$serif;
    margin: 1em 0 0.75em 0;
  }

  a {
    position: relative;
    transition: all 0.15s ease-in-out;

    bottom: -2px;
    border-bottom: 2px solid colors.$primary;

    &:hover {
      color: colors.$primary;
    }

    &:hover::after {
      max-width: 200px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      max-width: 0;
      background-color: transparent;
      border-bottom: 1px solid colors.$primary;
    }
  }

  ul {
    margin: 1em 0 0 2em;
  }
}
