@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext");

:root {
  --color--primary: 0, 0, 0;
  --color--text--primary: 47, 60, 79;
  --color--text--secondary: 80, 111, 134;
  --color--accent: 251, 176, 64;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.5;
  color: rgb(var(--color--text--primary));

  margin: 5% 25%;
}

.header {
  -webkit-box-shadow: 0px 0px 40px 5px rgba(204, 204, 204, 0.6);
  -moz-box-shadow: 0px 0px 40px 5px rgba(204, 204, 204, 0.6);
  box-shadow: 0px 0px 40px 5px rgba(204, 204, 204, 0.6);
  /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */

  border-radius: 10px;
  /* border: 3px solid red; */

  padding: 1em;

  display: flex;
  justify-content: center;
}

.header .container {
  text-align: center;
}

.profilePicture {
  width: 10em;
  height: auto;

  border-radius: 100%;
}

.social-icons {
  font-size: 1.5em;
}

.social-icons a {
  color: rgb(var(--color--text--secondary));
}

.social-icons a i:hover {
  transform: rotate(-15deg);
  color: rgb(var(--color--accent));
  transition: 0.2s;
}

h3 {
  color: rgb(var(--color--text--secondary));
}

/* CSS Preloader */
.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  position: absolute;
  top: 48%;
  left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6347;
  z-index: 999999;
}
