@use 'styles/colors';
@use 'styles/breakpoints';

.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // gap: 1em;

  @media (max-width: breakpoints.$tablet) {
		display: flex;
		flex-direction: column;
  }
}