@use 'styles/colors';

.root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.5em 0;
  font-size: 0.8em;
}

.root * {
  margin: 0.1em 0.3em;
  color: colors.$gray;

  &:visited {
    color: colors.$gray;
  }

  &:hover {
    color: colors.$primary;
  }
}
