$white: var(--color--white);
$black: var(--color--black);
$gray: var(--color--gray);

$primary: var(--color--primary);
$secondary: var(--color--secondary);

$background: (
  primary: var(--background--primary),
  secondary: var(--background--secondary),
);

$text: (
  primary: var(--text--primary),
  opposite: var(--text--color--opposite),
);
