@font-face {
  font-family: Beyno;
  src: url('../fonts/beyno.otf') format('opentype');
}

$sans: 'Helvetica Neue', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Ubuntu', 'sans-serif';
$serif: 'Georgia', 'Times', 'serif';
$mono: 'Menlo', 'Courier', 'monospace';
