@use 'colors';
@use 'breakpoints';
@use 'fonts';
@use 'variables' as *;
@use 'mixins' as *;
@use 'functions' as *;

:root {
  --color--white: #ffffff;
  --color--black: #000000;
  --color--gray: #7a8c97;

  --color--primary: #01a7c2;
  --color--secondary: #086c71;

  --background--primary: #e4e9f1;
  --background--secondary: #fff;

  --text--primary: var(--color-black);
  --text-color--opposite: var(--color-white);

  @media (prefers-color-scheme: dark) {
    --color--primary: #ff9a1f;
    --color--secondary: #fbb13c;

    --background--primary: #15283b;
    --background--secondary: #2d3b4e;

    --text--primary: var(--color--white);
    --text-color--opposite: var(--color--black);
  }
}

::selection {
  background: map-get(colors.$background, secondary);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: fonts.$mono;
  line-height: 1.6;
  font-size: 1.125em;
  color: map-get(colors.$text, primary);
  background-color: map-get(colors.$background, primary);

  @media screen and (max-width: breakpoints.$mobile) {
    font-size: 1em;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:visited {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
