@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background-start: #dfe9f3;
  --background-end: #fff;
}

@media (prefers-color-scheme: dark) {
  /* 135 */
  :root {
    --foreground: #ffffff;
    --background-start: #1c1c1c;
    --background-end: #1c1c1c;
  }
}

@layer base {
  body {
    @apply font-sans;
    color: var(--foreground);
    background: linear-gradient(
        to bottom right,
        transparent 0%,
        transparent 50%,
        var(--background-end) 90%
      )
      var(--background-start);
  }

  code,
  pre {
    @apply font-mono;
  }

  h1 {
    @apply text-2xl;
    @apply pt-4;
  }

  h2 {
    @apply text-xl;
    @apply pt-3;
  }

  h3 {
    @apply text-lg;
    @apply pt-2;
  }

  p {
    @apply pt-1;

    a {
      color: red;
    }
  }
}

@layer utilities {
  .testBorder {
    @apply border-4 border-red-600;
  }
}
